body{
    background-image: url(44.jpg);
}

.button{
    border: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    text-decoration-style: double;
    color: #90ECFE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

