body{
    background-image: url(44.jpg);
}

.okay{
    border: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 6px;
    border-radius: 2rem;
    text-decoration-style: double;
    color: #292c2c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(Dt.png);
}

